*{
  box-sizing: border-box;
  font-family: "open sans";
}
body{
margin:auto;
padding:auto;
}

section {
	border-top: 1px solid #dedede
}

.button {
      margin-top: 15px;
      background-color: #000000;
      border-radius: 15px;
      color: white;
      padding: 15px 30px;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      margin:auto;
      clear: both;
}

.phone {
  float: right;

}

.sectionInfo {
  float: left;
  margin-left: 2em;
}
